## Original post
https://python.langchain.com/v0.1/docs/use_cases/sql/agents/

In [3]:
from langchain_community.utilities import SQLDatabase

In [4]:
db = SQLDatabase.from_uri("sqlite:///Chinook.db")
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT * FROM Artist LIMIT 10;")

sqlite
['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

"[(1, 'AC/DC'), (2, 'Accept'), (3, 'Aerosmith'), (4, 'Alanis Morissette'), (5, 'Alice In Chains'), (6, 'Antônio Carlos Jobim'), (7, 'Apocalyptica'), (8, 'Audioslave'), (9, 'BackBeat'), (10, 'Billy Cobham')]"

# Agent

In [24]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain_aws import BedrockLLM, ChatBedrock

In [27]:
model_id = "anthropic.claude-3-5-sonnet-20240620-v1:0"
#model_id = "meta.llama3-2-3b-instruct-v1:0"
#llm = BedrockLLM(model_id = model_id, model_kwargs={"temperature": 0},)
llm =ChatBedrock(model_id = model_id, model_kwargs={"temperature": 0})

agent_executor = create_sql_agent(llm, db=db, verbose=True)

In [30]:
response = agent_executor.invoke("Dame el total de ventas por país. Qué pais vende mas?"
    #"List the total sales per country. Which country's customers spent the most?"
)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input:
Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, TrackBased on the list of tables, it seems that the "Invoice" table might contain the information we need about sales by country. Let's check its schema to confirm.

Action: sql_db_schema
Action Input: Invoice

CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/Thought: Now that I have the schema for the Invoice table, I can see that it contains the "BillingCountry" and "Total" columns, which are exactly what we need to answer the question. I'll create a SQL query to sum the total sales by country and order them in descending order to see which country has the highest sales.

Action: sql_db_query_checker
Action Input:
SELECT BillingCountry, SUM(Total) as TotalSales
FROM Invoice
GROUP BY BillingCountry
ORDER BY TotalSales DESC
LIMIT 10
SELECT BillingCountry, SUM(Total) as TotalSales
FROM Invoice
GROUP BY BillingCountry
ORDER BY TotalSales DESC
LIMIT 10The query looks correct. Now let's execute it to get the results.

Action: sql_db_query
Action Input:
SELECT BillingCountry, SUM(Total) as TotalSales
FROM Invoice
GROUP BY BillingCountry
ORDER BY TotalSales DESC
LIMIT 10
[('USA', 523.06), ('Canada', 303.96), ('France', 195.1), ('Brazil', 190.1), ('Germany', 156.48), ('United Kingdom', 112.86), ('Czech Republic', 90.24), ('Portugal', 77.24), ('India', 75.26), ('Chile', 46.62)]Now I have the results of the total sales by country. I can answer the question.

Final Answer: El total de ventas por país, ordenado de mayor a menor, es el siguiente:

1. USA: $523.06
2. Canada: $303.96
3. France: $195.10
4. Brazil: $190.10
5. Germany: $156.48
6. United Kingdom: $112.86
7. Czech Republic: $90.24
8. Portugal: $77.24
9. India: $75.26
10. Chile: $46.62

El país que vende más es Estados Unidos (USA) con un total de ventas de $523.06.

> Finished chain.

In [35]:
print("Pregunta: ",response.get("input"))
print("Respuesta: ")
print(response.get("output"))

Pregunta:  Dame el total de ventas por país. Qué pais vende mas?
Respuesta:
El total de ventas por país, ordenado de mayor a menor, es el siguiente:

1. USA: $523.06
2. Canada: $303.96
3. France: $195.10
4. Brazil: $190.10
5. Germany: $156.48
6. United Kingdom: $112.86
7. Czech Republic: $90.24
8. Portugal: $77.24
9. India: $75.26
10. Chile: $46.62

El país que vende más es Estados Unidos (USA) con un total de ventas de $523.06.

In [37]:
response = agent_executor.invoke("que artista vendio más? que disco es el mas comprado?")
print("Pregunta: ",response.get("input"))
print("Respuesta: ")
print(response.get("output"))

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input:
Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, TrackThought: Based on the tables available, we'll need to focus on the Artist, Album, and InvoiceLine tables to answer this question. Let's first check the schema of these tables.

Action: sql_db_schema
Action Input: Artist, Album, InvoiceLine

CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/Thought: Now that we have the schema, we can create queries to answer both parts of the question. We'll need to join these tables with the Track table to get the complete information. Let's start with finding the artist who sold the most.

Action: sql_db_query_checker
Action Input:
SELECT a.Name as ArtistName, COUNT(*) as SalesCount
FROM Artist a
JOIN Album al ON a.ArtistId = al.ArtistId
JOIN Track t ON al.AlbumId = t.AlbumId
JOIN InvoiceLine il ON t.TrackId = il.TrackId
GROUP BY a.ArtistId
ORDER BY SalesCount DESC
LIMIT 1
The provided query appears to be correct and doesn't contain any of the common mistakes mentioned. Here's the original query reproduced:

SELECT a.Name as ArtistName, COUNT(*) as SalesCount
FROM Artist a
JOIN Album al ON a.ArtistId = al.ArtistId
JOIN Track t ON al.AlbumId = t.AlbumId
JOIN InvoiceLine il ON t.TrackId = il.TrackId
GROUP BY a.ArtistId
ORDER BY SalesCount DESC
LIMIT 1Thought: The query checker confirmed that our query is correct. Now let's execute it to find the artist who sold the most.

Action: sql_db_query
Action Input:
SELECT a.Name as ArtistName, COUNT(*) as SalesCount
FROM Artist a
JOIN Album al ON a.ArtistId = al.ArtistId
JOIN Track t ON al.AlbumId = t.AlbumId
JOIN InvoiceLine il ON t.TrackId = il.TrackId
GROUP BY a.ArtistId
ORDER BY SalesCount DESC
LIMIT 1
[('Iron Maiden', 140)]Thought: Now we know that Iron Maiden is the artist who sold the most, with 140 sales. Let's create a query to find the most purchased album.

Action: sql_db_query_checker
Action Input:
SELECT al.Title as AlbumTitle, a.Name as ArtistName, COUNT(*) as PurchaseCount
FROM Album al
JOIN Artist a ON al.ArtistId = a.ArtistId
JOIN Track t ON al.AlbumId = t.AlbumId
JOIN InvoiceLine il ON t.TrackId = il.TrackId
GROUP BY al.AlbumId
ORDER BY PurchaseCount DESC
LIMIT 1
The provided query appears to be correct and doesn't contain any of the common mistakes mentioned. Here's the original query reproduced:

SELECT al.Title as AlbumTitle, a.Name as ArtistName, COUNT(*) as PurchaseCount
FROM Album al
JOIN Artist a ON al.ArtistId = a.ArtistId
JOIN Track t ON al.AlbumId = t.AlbumId
JOIN InvoiceLine il ON t.TrackId = il.TrackId
GROUP BY al.AlbumId
ORDER BY PurchaseCount DESC
LIMIT 1Thought: The query checker confirmed that our query for finding the most purchased album is correct. Let's execute it to get the result.

Action: sql_db_query
Action Input:
SELECT al.Title as AlbumTitle, a.Name as ArtistName, COUNT(*) as PurchaseCount
FROM Album al
JOIN Artist a ON al.ArtistId = a.ArtistId
JOIN Track t ON al.AlbumId = t.AlbumId
JOIN InvoiceLine il ON t.TrackId = il.TrackId
GROUP BY al.AlbumId
ORDER BY PurchaseCount DESC
LIMIT 1
[('Minha Historia', 'Chico Buarque', 27)]Thought: Now we have all the information to answer the original question. Let's summarize our findings.

Final Answer: El artista que más vendió es Iron Maiden, con 140 ventas. El disco más comprado es "Minha Historia" de Chico Buarque, con 27 compras.

> Finished chain.
Pregunta:  que artista vendio más? que disco es el mas comprado?
Respuesta:
El artista que más vendió es Iron Maiden, con 140 ventas. El disco más comprado es "Minha Historia" de Chico Buarque, con 27 compras.

In [38]:
response = agent_executor.invoke("Describe las tablas a las que tienes acceso")
print("Pregunta: ",response.get("input"))
print("Respuesta: ")
print(response.get("output"))

> Entering new SQL Agent Executor chain...
To answer this question, I need to first list all the tables in the database and then get the schema for each table. Let's start by listing the tables.

Action: sql_db_list_tables
Action Input:
Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, TrackNow that I have a list of all the tables in the database, I can describe them by getting the schema for each table. I'll use the sql_db_schema tool to get this information for all tables.

Action: sql_db_schema
Action Input: Album, Artist, Customer, Employee, Genre, Invoice, InvoiceLine, MediaType, Playlist, PlaylistTrack, Track

CREATE TABLE "Album" (
	"AlbumId" INTEGER NOT NULL,
	"Title" NVARCHAR(160) NOT NULL,
	"ArtistId" INTEGER NOT NULL,
	PRIMARY KEY ("AlbumId"),
	FOREIGN KEY("ArtistId") REFERENCES "Artist" ("ArtistId")
)

/*
3 rows from Album table:
AlbumId	Title	ArtistId
1	For Those About To Rock We Salute You	1
2	Balls to the Wall	2
3	Restless and Wild	2
*/


CREATE TABLE "Artist" (
	"ArtistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("ArtistId")
)

/*
3 rows from Artist table:
ArtistId	Name
1	AC/DC
2	Accept
3	Aerosmith
*/


CREATE TABLE "Customer" (
	"CustomerId" INTEGER NOT NULL,
	"FirstName" NVARCHAR(40) NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"Company" NVARCHAR(80),
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60) NOT NULL,
	"SupportRepId" INTEGER,
	PRIMARY KEY ("CustomerId"),
	FOREIGN KEY("SupportRepId") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Customer table:
CustomerId	FirstName	LastName	Company	Address	City	State	Country	PostalCode	Phone	Fax	Email	SupportRepId
1	Luís	Gonçalves	Embraer - Empresa Brasileira de Aeronáutica S.A.	Av. Brigadeiro Faria Lima, 2170	São José dos Campos	SP	Brazil	12227-000	+55 (12) 3923-5555	+55 (12) 3923-5566	luisg@embraer.com.br	3
2	Leonie	Köhler	None	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	+49 0711 2842222	None	leonekohler@surfeu.de	5
3	François	Tremblay	None	1498 rue Bélanger	Montréal	QC	Canada	H2G 1A7	+1 (514) 721-4711	None	ftremblay@gmail.com	3
*/


CREATE TABLE "Employee" (
	"EmployeeId" INTEGER NOT NULL,
	"LastName" NVARCHAR(20) NOT NULL,
	"FirstName" NVARCHAR(20) NOT NULL,
	"Title" NVARCHAR(30),
	"ReportsTo" INTEGER,
	"BirthDate" DATETIME,
	"HireDate" DATETIME,
	"Address" NVARCHAR(70),
	"City" NVARCHAR(40),
	"State" NVARCHAR(40),
	"Country" NVARCHAR(40),
	"PostalCode" NVARCHAR(10),
	"Phone" NVARCHAR(24),
	"Fax" NVARCHAR(24),
	"Email" NVARCHAR(60),
	PRIMARY KEY ("EmployeeId"),
	FOREIGN KEY("ReportsTo") REFERENCES "Employee" ("EmployeeId")
)

/*
3 rows from Employee table:
EmployeeId	LastName	FirstName	Title	ReportsTo	BirthDate	HireDate	Address	City	State	Country	PostalCode	Phone	Fax	Email
1	Adams	Andrew	General Manager	None	1962-02-18 00:00:00	2002-08-14 00:00:00	11120 Jasper Ave NW	Edmonton	AB	Canada	T5K 2N1	+1 (780) 428-9482	+1 (780) 428-3457	andrew@chinookcorp.com
2	Edwards	Nancy	Sales Manager	1	1958-12-08 00:00:00	2002-05-01 00:00:00	825 8 Ave SW	Calgary	AB	Canada	T2P 2T3	+1 (403) 262-3443	+1 (403) 262-3322	nancy@chinookcorp.com
3	Peacock	Jane	Sales Support Agent	2	1973-08-29 00:00:00	2002-04-01 00:00:00	1111 6 Ave SW	Calgary	AB	Canada	T2P 5M5	+1 (403) 262-3443	+1 (403) 262-6712	jane@chinookcorp.com
*/


CREATE TABLE "Genre" (
	"GenreId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("GenreId")
)

/*
3 rows from Genre table:
GenreId	Name
1	Rock
2	Jazz
3	Metal
*/


CREATE TABLE "Invoice" (
	"InvoiceId" INTEGER NOT NULL,
	"CustomerId" INTEGER NOT NULL,
	"InvoiceDate" DATETIME NOT NULL,
	"BillingAddress" NVARCHAR(70),
	"BillingCity" NVARCHAR(40),
	"BillingState" NVARCHAR(40),
	"BillingCountry" NVARCHAR(40),
	"BillingPostalCode" NVARCHAR(10),
	"Total" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("InvoiceId"),
	FOREIGN KEY("CustomerId") REFERENCES "Customer" ("CustomerId")
)

/*
3 rows from Invoice table:
InvoiceId	CustomerId	InvoiceDate	BillingAddress	BillingCity	BillingState	BillingCountry	BillingPostalCode	Total
1	2	2021-01-01 00:00:00	Theodor-Heuss-Straße 34	Stuttgart	None	Germany	70174	1.98
2	4	2021-01-02 00:00:00	Ullevålsveien 14	Oslo	None	Norway	0171	3.96
3	8	2021-01-03 00:00:00	Grétrystraat 63	Brussels	None	Belgium	1000	5.94
*/


CREATE TABLE "InvoiceLine" (
	"InvoiceLineId" INTEGER NOT NULL,
	"InvoiceId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	"Quantity" INTEGER NOT NULL,
	PRIMARY KEY ("InvoiceLineId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("InvoiceId") REFERENCES "Invoice" ("InvoiceId")
)

/*
3 rows from InvoiceLine table:
InvoiceLineId	InvoiceId	TrackId	UnitPrice	Quantity
1	1	2	0.99	1
2	1	4	0.99	1
3	2	6	0.99	1
*/


CREATE TABLE "MediaType" (
	"MediaTypeId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("MediaTypeId")
)

/*
3 rows from MediaType table:
MediaTypeId	Name
1	MPEG audio file
2	Protected AAC audio file
3	Protected MPEG-4 video file
*/


CREATE TABLE "Playlist" (
	"PlaylistId" INTEGER NOT NULL,
	"Name" NVARCHAR(120),
	PRIMARY KEY ("PlaylistId")
)

/*
3 rows from Playlist table:
PlaylistId	Name
1	Music
2	Movies
3	TV Shows
*/


CREATE TABLE "PlaylistTrack" (
	"PlaylistId" INTEGER NOT NULL,
	"TrackId" INTEGER NOT NULL,
	PRIMARY KEY ("PlaylistId", "TrackId"),
	FOREIGN KEY("TrackId") REFERENCES "Track" ("TrackId"),
	FOREIGN KEY("PlaylistId") REFERENCES "Playlist" ("PlaylistId")
)

/*
3 rows from PlaylistTrack table:
PlaylistId	TrackId
1	3402
1	3389
1	3390
*/


CREATE TABLE "Track" (
	"TrackId" INTEGER NOT NULL,
	"Name" NVARCHAR(200) NOT NULL,
	"AlbumId" INTEGER,
	"MediaTypeId" INTEGER NOT NULL,
	"GenreId" INTEGER,
	"Composer" NVARCHAR(220),
	"Milliseconds" INTEGER NOT NULL,
	"Bytes" INTEGER,
	"UnitPrice" NUMERIC(10, 2) NOT NULL,
	PRIMARY KEY ("TrackId"),
	FOREIGN KEY("MediaTypeId") REFERENCES "MediaType" ("MediaTypeId"),
	FOREIGN KEY("GenreId") REFERENCES "Genre" ("GenreId"),
	FOREIGN KEY("AlbumId") REFERENCES "Album" ("AlbumId")
)

/*
3 rows from Track table:
TrackId	Name	AlbumId	MediaTypeId	GenreId	Composer	Milliseconds	Bytes	UnitPrice
1	For Those About To Rock (We Salute You)	1	1	1	Angus Young, Malcolm Young, Brian Johnson	343719	11170334	0.99
2	Balls to the Wall	2	2	1	U. Dirkschneider, W. Hoffmann, H. Frank, P. Baltes, S. Kaufmann, G. Hoffmann	342562	5510424	0.99
3	Fast As a Shark	3	2	1	F. Baltes, S. Kaufman, U. Dirkscneider & W. Hoffman	230619	3990994	0.99
*/Now that I have the schema for all tables, I can describe the tables available in the database. Here's a summary of the tables and their main purposes:

Final Answer: Las tablas a las que tengo acceso son:

1. Album: Contiene información sobre álbumes musicales, incluyendo su ID, título y el ID del artista asociado.

2. Artist: Almacena datos de los artistas, con su ID y nombre.

3. Customer: Guarda información detallada de los clientes, incluyendo datos personales y de contacto.

4. Employee: Contiene datos de los empleados, incluyendo información personal y laboral.

5. Genre: Lista los géneros musicales con su ID y nombre.

6. Invoice: Registra las facturas de ventas, incluyendo detalles del cliente y la transacción.

7. InvoiceLine: Almacena los detalles de cada línea de factura, relacionando facturas con pistas de música.

8. MediaType: Lista los tipos de medios disponibles para las pistas de música.

9. Playlist: Contiene información sobre las listas de reproducción.

10. PlaylistTrack: Tabla de relación entre las listas de reproducción y las pistas de música.

11. Track: Almacena información detallada sobre las pistas de música, incluyendo su nombre, álbum, género, duración y precio.

Estas tablas están interrelacionadas y parecen formar parte de un sistema de gestión para una tienda de música digital, permitiendo el seguimiento de inventario, ventas, clientes y empleados.

> Finished chain.
Pregunta:  Describe las tablas a las que tienes acceso
Respuesta:
Las tablas a las que tengo acceso son:

1. Album: Contiene información sobre álbumes musicales, incluyendo su ID, título y el ID del artista asociado.

2. Artist: Almacena datos de los artistas, con su ID y nombre.

3. Customer: Guarda información detallada de los clientes, incluyendo datos personales y de contacto.

4. Employee: Contiene datos de los empleados, incluyendo información personal y laboral.

5. Genre: Lista los géneros musicales con su ID y nombre.

6. Invoice: Registra las facturas de ventas, incluyendo detalles del cliente y la transacción.

7. InvoiceLine: Almacena los detalles de cada línea de factura, relacionando facturas con pistas de música.

8. MediaType: Lista los tipos de medios disponibles para las pistas de música.

9. Playlist: Contiene información sobre las listas de reproducción.

10. PlaylistTrack: Tabla de relación entre las listas de reproducción y las pistas de música.

11. Track: Almacena información detallada sobre las pistas de música, incluyendo su nombre, álbum, género, duración y precio.

Estas tablas están interrelacionadas y parecen formar parte de un sistema de gestión para una tienda de música digital, permitiendo el seguimiento de inventario, ventas, clientes y empleados.